<article class="post">
    <ol class="post-list">
        {{#each posts as |post|}}
            <li>
                <section class="post">
                    <div class="title">
                        <span>({{day}})</span>
                        <span>({{time}})</span>
                    </div>
                    <div class="meta">
                        <!--{{like_count}} {{format_plural "like" like_count}}-->
                        {{user.username}} on 
                        {{format_date created_at}}
                    </div>
                </section>
            </li>
        {{/each}}
    </ol>
</article>

