<article class="post">
  <div class="title">
    {{post_url}}
    {{title}}
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
    {{love_count}} {{format_plural "point" love_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}"></a>
  </div>
</article>