<article>
  <h2 class="">Edit Entry</h2>
  <br/>
  <form id="edit-post-form" class="card-body">
    <div>
      <label for="post-date" class="label">Date of Run:</label>
      <input class="input" name="post-date" type="text" value="{{post.post_date}}" />
    </div>
    <div>
      <label for="post-day" class="label">Day of Week:</label>
      <input class="textarea" name="post-day" type="text" value="{{post.post_day}}" />
    </div>
    <div>
      <label for="post-time" class="label">Time:</label>
      <input class="textarea" name="post-time" type="text" value="{{post.post_time}}" />
    </div>
    <div class="">
      Created by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="btn-save">Save Entry</button>
    <button id="delete-post" type="button" class="btn-del">Delete Entry</button>
  </form>
</article>

<div class="mb3">
  <h2 class="label">Comments</h2>
  <div class="mb-3 mx-10">{{> comments post.comments}}</div>
</div>

<script src=" /javascript/edit-post.js">
</script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>