<article>
  <h2 class="">Edit post</h2>
  <hr>
  <form id="edit-post-form" class="card-body">
    <div>
      <label for="post-title" class="label">Post title:</label>
      <input class="input" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <label for="post-day" class="label">Post Day:</label>
      <input class="textarea" name="post-day" type="text" value="{{post.post_day}}" />
    </div>
    <div>
      <label for="post-hour" class="label">Post Hour:</label>
      <input class="textarea" name="post-hour" type="text" value="{{post.post_time}}" />
    </div>
    <div class="">
      Created by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="btn-save">Save post</button>
    <button id="delete-post" type="button" class="btn-del">Delete post</button>
  </form>
</article>

<div class="mb3">
  <h2 class="label">Comments</h2>
  <div class="mb-3 mx-10">{{> comments post.comments}}</div>
</div>

<script src=" /javascript/edit-post.js">
</script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>