<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="../public/stylesheets/style.css"/>
        <title>40-Yard Dash Time Tracker</title>
    </head>

    <body>

        <div class = row>
            <div class="col-sm-3">
                <!--<p>username</p>-->
            </div>
            <div class ="col-md-6">
                <h1 style="text-align:center">40 Yard Dash</h1>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class = row>
            <div class="col-lg-3"></div>
            <div class="col-sm-6">
                <div class= "col text-center">
                    <img id="graph-image" src="https://s3.amazonaws.com/de-files-production/Explainers/Figures/486169379542/4.svg" alt="graph" />
                    <div id="chart"></div>
                </div>
            </div>
            <div class="col-lg-3"></div>
            
        </div>
        <div class= row>
            <div class="col-lg-3"></div>
            <div class="col-sm-6">
                <div class="col text-center">
                <button type="button" class="btn btn-primary" id="createPost">
                    <h2>New Time</h2>
                  </button>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        
<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    <section class="post">
      <div class="title">
        <span>({{day}})</span>
        <span>({{time}})</span>
      </div>
      <div class="meta">
        <!--{{like_count}} by-->
        {{post.user.username}} on
        {{post.created_at}}
        |
        <!--/post/{{id}}">-->
      </div>
    </section>
  </li>
  {{/each}}
</ol>

<script src="../html/assets/javascript/billboard.js"></script>
    </body>
</html>

<!-- <div id="chart"></div>-->