<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    <section class="post">
      <div class="title">
        <span>({{day}})</span>
        <span>({{time}})</span>
      </div>
      <div class="meta">
        <!--{{like_count}} by-->
        {{post.user.username}} on
        {{post.created_at}}
        |
        <!--/post/{{id}}">-->
      </div>
    </section>
  </li>
  {{/each}}
</ol>

<!-- <div id="chart"></div>-->